#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.location, .area {
  cursor: pointer;
}

.location:hover, .area:hover {
  color: yellow;
}

.location-container {
  height: 30vh;
}

.areas{
  height: 20vh;
  overflow: scroll;
}