.pokemon-image {
    width: 15vw;
    height: auto;
    image-rendering: pixelated;
    margin: auto;
}

.enemy-pokemon {
    color: red;
}

.own-pokemon {
    color: rgb(4, 146, 4);
}

.choosable:hover {
    cursor: pointer;
    background-color: rgb(252, 253, 188);
}